language: android
android:
  components:
    - tools
    - tools
    - platform-tools

    # The BuildTools version used by your project
    - build-tools-25.0.0 

    # The SDK version used to compile your project
    - android-25 

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-19

  licenses:
    - 'android-sdk-license-.+'

jdk:
  - oraclejdk8

script:
    - ./testprebid.sh
