<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.prebid.mobile.core">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Android P changes -->
    <application>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
                android:exported="true"
                android:name="org.prebid.mobile.rendering.views.browser.AdBrowserActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:windowSoftInputMode="adjustPan|stateHidden"
                android:launchMode="singleTop" />
    </application>

</manifest>