<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.prebid.mobile.rendering">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Android P changes -->
    <application
        android:allowBackup="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:name="org.prebid.mobile.rendering.views.browser.AdBrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTop" />
    </application>


</manifest>